* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  padding: 0;
}

body {
  background-color: #f5f5f5;
  text-align: center;
}

.todo {
  height: 48px;
  padding: 8px;
  background: #ffe4e1;
  color: #8b008b;
  font-size: 36px;
  border-radius: 5px;
}

.item_list {
  width: 400px;
  list-style: square;
  font-size: 24px;
  align-items: center;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
}

.item {
  border-style: outset;
  justify-content: space-between;
}

.add {
  background-color: #ffe4e1;
}

.listadd {
  size: 40;
}
