* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  padding: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  background-color: #c5cae9;
  text-align: center;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #f8fdff;
  border-radius: 25px;
}

.todo {
  background-color: #9499b7;
  height: 48px;
  padding: 8px;
  font-size: 36px;
  color: white;
  border-radius: 15px 15px 0 0;
}

.item_list {
  overflow-y: auto;
  height: 400px;
}

.item {
  display: flex;
  justify-content: space-around;
  padding: 8px 32px;
}

.delete {
  font-size: 15px;
}

.delete,
.doadd {
  transition: all 300ms ease-in;
}

.delete:hover {
  color: #e7b9ff;
  transform: scale(1.1);
}

.add {
  height: 40px;
  background-color: #9499b7;
  border-radius: 0 0 15px 15px;
}

.listadd {
  display: inline;
  justify-content: center;
  width: 80%;
  height: 28px;
  font-size: 18px;
  padding: 0 16px;
}

.doadd {
  width: 24px;
  height: 24px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #9499b7;
  color: white;
}

.doadd:hover {
  color: #e7b9ff;
  transform: scale(1.1);
}
